@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  background: #fff;
  font-family: 'Montserrat' !important;
  font-size: 16px;
  margin: 0;
}
.fa-star{
  color: #F2A614;
}
p {
  margin: 0 !important;
}
a{
  text-decoration: none !important;
}
#brand-name {
  text-decoration: none;
  color: #fff;
  margin: 0 !important;
}
.navbar {
  background: #108690 !important;
  color: #fff !important;
}
.nav-link {
  color: #fff !important;
}
#nav-list {
  display: inline-flex !important;
}
.card {
  margin: 10px 0 !important;
}
.grid {
  display: grid;
  grid-template-columns: 30% 70%;
  /* grid-gap: 5px; */
}
.grid > .card-body {
  padding: 10px !important;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-gap: 5px;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 1px;
}
.grid3 > .card-body {
  padding: 10px !important;
}
.grid3 > .card-body > p {
  padding: 5px !important;
  margin: 0 !important;
}
.grid3 > .card-body > p > a {
  color: #fff;
  text-decoration: none;
}
.return-date {
  padding: 0 !important;
  /* color: #fff; */
  background: #fff;
}
.one,
.two,
.three {
  background: #108690;
}
.footer {
  padding: 15px;
  min-height: 60px !important;
  color: #fff;
  background: #333 !important;
  overflow: hidden;
}
#user-clock {
  display: none;
}
.right-content {
  padding: 5px;
  margin-right: 3%;
  font-size: 16px;
}
.right-content > p {
  margin: 0 !important;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 12px;
  margin-top: 1%;
}
.reviews {
  border: none !important;
}
.reviews > .card-body {
  padding: 5px !important;
}

.btn2 {
  width: 100% !important;
  background: #108690 !important;
  border: none !important;
}
.btn2 > a {
  color: #fff;
  text-decoration: none;
}
.btn1 {
  padding: 7px 12px;
  font-size: 12px !important;
  color: #108690;
  background: #fff;
  border: 1px solid #108690;
  border-radius: 20px;
}
.btn1:hover {
  color: #fff;
  background: #108690;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.grid5 {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 15px;
  margin: 10px;
}
.fa-user {
  margin-top: 8px !important;
  margin-right: 20px !important;
  font-size: 25px;
}
.grid6 {
  display: grid;
  grid-template-columns: 12% 88%;
  grid-gap: 8px;
}
.grid8 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-bottom: 10px;
}
.books-you-might-like {
  border: none !important;
  margin: 0 !important;
}
.books {
  padding: 5px !important;
}
.has-search .form-control {
  /* padding-left: 2.375rem ; */
  border: none !important;
}
.form-control {
  background: #eee !important;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.write-review {
  padding: 0.375rem 0 !important;
  background: #fff !important;
  border: none !important;
  border-radius: none !important;
}
.modal-body,
.modal-header,
.modal-footer {
  border: none !important;
  padding: 15px !important;
}
.modal-footer>.btn{
  padding: 5px 25px !important;
}
.btn {
  font-size: 12px !important;
  padding: 8px 18px !important;
  border-radius: 20px !important;
  color: #333 !important;
}
.owl-nav,.owl-dots {
  display: none !important;
}
.owl-nav {
  display: none !important;
}

#owl-test .item {
  display: block;
  margin: 20px;
  color: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /* text-align: center; */
}
.owl-carousel {
  height: 100% !important;
}
.owl-carousel .owl-stage-outer {
  max-height: 500px !important;
}
.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}

.owl-theme .owl-buttons i {
  margin-top: 2px;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -45px;
  top: 55px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -45px;
  top: 55px;
}
.books {
  padding: 15px !important;
  width: 100% !important;
}
.others-content {
  padding: 5px;
}
.modal-header {
  padding: 8px 20px !important;
}
.modal-body {
  padding: 8px 20px !important;
}
.slider-content {
  margin-bottom: 20px;
  margin-top: 0 !important;
}
.book-title {
  margin-top: 15px !important;
  margin-bottom: 0 !important;
}

/* .star{
  color: #333;
}
.star:hover{
  cursor: pointer;
  color: #F2A614;
} */

fieldset, label { margin: 0; padding: 0; }


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #F2A614;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

@media (max-width: 992px) {
  .grid5 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid8 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid4 {
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 15px;
  }
}

@media (max-width: 768px) {
  #user-history {
    display: none;
  }
  #user-clock {
    display: block;
  }
  #nav-list {
    display: inline-flex !important;
  }
  .navbar {
    max-height: 60px !important;
  }
  .footer {
    padding: 5px !important;
    font-size: 14px !important;
  }
  .grid5 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid8 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .grid3 {
    grid-template-columns: 1fr;
    grid-gap: 5px !important;
  }
  .grid3 > .card-body {
    padding: 5px !important;
  }
  .grid4 {
    grid-template-columns: 2fr;
    grid-gap: 5px;
  }
  .others {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .test {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .right-content {
    font-size: 14px;
  }
  #user-history {
    display: none;
  }
  #user-clock {
    display: block;
  }
  #nav-list {
    display: inline-flex !important;
  }
  .navbar {
    max-height: 60px !important;
  }
  .return-date {
    color: #000 !important;
    background: #fff;
  }
  .grid3 > .card-body > p > a {
    color: #fff;
  }
  .one,
  .two,
  .three {
    background: #108690;
  }
  .reviews {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .grid5 {
    grid-template-columns: 2fr;
  }
  .grid7 {
    display: grid;
    grid-template-columns: 25% 75%;
  }
  .books-you-might-like {
    width: 100% !important;
    margin: 0 !important;
  }
  .grid8 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 376px) {
  body {
    font-size: 12px !important;
  }
  .btn,
  .btn1 {
    font-size: 10px !important;
  }
  .footer {
    padding: 10px !important;
    font-size: 12px !important;
  }
  .nav-link {
    padding: 5px !important;
  }
  .right-content {
    font-size: 12px;
    margin-right: 0 !important;
  }
  .grid5 {
    margin: 0 !important;
  }
  .books {
    padding: 8px !important;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 12px !important;
  }
  .btn,
  .btn1 {
    font-size: 10px !important;
  }
  .fa-user {
    font-size: 20px;
  }
  .right-content {
    padding: 0 !important;
  }
}
