.container > img {
  height: 20%;
  width: 20%;
}
.card > img {
  width: 100%;
  height: 600px !important;
}
.card {
  border: none !important;
  width: 100% !important;
  height: 100% !important;
  /* padding: 10px; */
}
.card-body {
  height: 100% !important;
  margin-bottom: 0 !important;
}
.card-body > img {
  width: 40%;
  height: 40%;
  margin-top: 130px !important;
  margin-left: 25% !important;
}
.form {
  background: #fff;
  /* border-radius: 3px; */
  padding: 15px !important;
  margin-top: 50px !important;
}
.form-group {
  margin-top: 20px;
}
.form-control {
  background: #eee !important;
  border: none !important;
}

.btn {
  margin-top: 20px;
  position: relative;
  padding: 10px 55px;
  border-radius: 35px;
  background: #108690;
  color: #fff;
  font-weight: bold;
  margin-left: 30%;
}
p {
  font-weight: bold;
  font-size: 16px !important;
  float: right;
  margin-right: 8% !important;
}
/* .btn:hover {
  background: #007b7d;
} */
@media (max-width: 376px) {
  .body {
    background: #f2a614 !important;
    font-size: 14px !important;
  }
  .text-muted {
    font-size: 10px !important;
    /* padding: 5px !important; */
  }
  .card {
    margin: 0 !important;
    margin-top: 8% !important;
    padding: 5px !important;
    height: 100% !important;
    background: #fff;
    /* width: 100% !important; */
  }
  .card-body {
    padding: 5px !important;
  }

  .title {
    font-size: 18px !important;
  }
  .display_img {
    display: none !important;
  }
  .btn {
    margin: auto !important;
    margin-left: 3% !important;
    padding: 5px 30px !important;
  }
}

@media (max-width: 768px) {
  body {
    margin: 0 !important;
    height: 100% !important;
    background: #f2a614;
  }
  .title {
    display: block !important;
    text-align: center;
    padding: 5px !important;
    margin: 10px !important;
    margin-top: 10px !important;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .display_img {
    display: none;
  }
  .mobile {
  }
  .main-content {
  }
  .tab_img {
    margin-left: 35% !important;
    margin-bottom: 5% !important;
    /* margin-top: 5% !important; */
    /* position: relative; */
    display: block;
    height: 10% !important;
    width: 30% !important;
    z-index: -1 !important;
  }
  .card {
    position: relative;
    /* margin-top: -30% !important; */
    width: 90% !important;
    height: 55% !important;
    margin-top: 0 !important;
    margin-left: 5% !important;
    margin-bottom: 2% !important;
    z-index: 1 !important;

    /* margin-right: 10% !important; */
  }
  .card-body {
    padding: 20px;
    width: 100%;
    height: 50% !important;
    /* margin-left: 10% !important; */
  }
  .card-body > img {
    height: 30%;
    width: 30%;
    margin-top: 5% !important;
    margin-left: 35% !important;
  }

  .form {
    margin-top: 8% !important;
    padding: 5px !important;
  }
  .form-group {
    margin-bottom: 0 !important;
  }
  /* .col {
    margin: 0 !important;
  } */

  .btn {
    margin-top: 5% !important;
    margin-left: 40% !important;
    padding: 5px 40px;
  }
  .form-text {
    margin-top: 2% !important;
  }
  p {
    font-weight: bold;
    /* margin-bottom: 3% !important;
    margin-left: 40% !important; */
  }
}
@media (min-width: 769px) {
  .tab_img {
    display: none !important;
  }
  .title {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .form {
    margin-top: 5% !important;
  }
  .card-body {
    max-height: 100% !important;
    padding: 0 !important;
  }
  .card-body > img {
    margin-left: 30% !important;
    margin-top: 8% !important;
    width: 25% !important;
    height: 25% !important;
  }
  .display_img {
    height: 100% !important;
    width: 100% !important;
  }
}
@media (min-width: 1024px) {
  .form {
    margin-top: 5% !important;
  }
  .card-body {
    max-height: 100% !important;
    padding: 0 !important;
  }
  .card-body > img {
    margin-left: 32% !important;
    margin-top: 8% !important;
    width: 25% !important;
    height: 25% !important;
  }
  .tab_img {
    display: none !important;
  }
  .title {
    display: none !important;
  }
  .display_img {
    height: 100% !important;
    width: 100% !important;
  }
  p {
    margin-top: 5% !important;
    margin-right: 5% !important;
  }
  .btn {
    margin-top: 0 !important;
  }
}
@media (min-width: 1440px) {
  .card-body > img {
    margin-left: 30% !important;
    margin-top: 10% !important;
    width: 28% !important;
    height: 28% !important;
  }

  .card-body {
    max-height: 100% !important;
    padding: 0 !important;
  }
  .form {
    margin-top: 5% !important;
  }

  .btn {
    /* margin-top: 5% !important; */
  }
  .display_img {
    height: 100% !important;
    width: 100% !important;
  }
  p {
    margin-right: 2% !important;
    margin-top: 5% !important;
  }
}
