.card {
  margin-left: 25%;
  margin-right: 25%;
  padding: 15px;
  border-radius: none !important;

}
.card-body > h4 {
  color: #108690;
  font-weight: bold;
  margin-top: 8%;
  margin-bottom: 0 !important;
}
.content {
  margin-top: 3%;
  padding: 10px;
}
.content > p {
  margin-bottom: 0 !important;
}
.image1 {
  float: left;
}
.title {
  font-family: "Delius Unicase", cursive;
}
.image2 {
  float: right;
  transform: rotateY(180deg) !important;
}

@media (max-width: 320px) {
  .card-body > h4 {
    font-size: 18px !important;
  }
}

@media (max-width: 376px) {
  .title {
    font-size: 12px !important;
  }
  .image1 {
    margin-top: 35% !important;
    width: 18% !important;
    height: 18% !important;
  }
}

@media (max-width: 768px) {
  .col {
    padding: 10px !important;
  }

  .card {
    /* position: relative; */
    background: #fff !important;
    width: 90% !important;
    height: 55% !important;
    margin-top: 25% !important;
    margin-left: 5% !important;
    margin-bottom: 2% !important;
    /* margin-right: 10% !important; */
  }
  .card-body {
    padding: 5px;
    width: 100%;
    height: 50% !important;
    /* margin-left: 10% !important; */
  }
  .card-body > img {
    height: 30%;
    width: 30%;
  }
  .image1 {
    margin-top: 10% !important;
    margin-left: 5% !important;
  }
  .image2 {
    margin-right: 5% !important;
    width: 18% !important;
    height: 18% !important;
  }
  .title {
    font-size: 20px !important;
    margin-top: 8% !important;
    margin-right: 20% !important;
  }
  .display-5 {
    font-size: 18px !important;
    margin-top: 10% !important;
  }
  .content {
    margin-top: 5% !important;
    margin-bottom: 0 !important;
  }
}

@media (min-width: 768px) {
  .col {
    padding: 15px;
  }
  .card {
    margin-top: 8% !important;
    margin-right: 20%;
  }
  .card-body > img {
    /* margin-left: 30% !important; */
    /* margin-top: 5% !important; */
    width: 15% !important;
    height: 15% !important;
  }
  .image1 {
    margin-top: 8%;
    margin-left: 5% !important;
  }
  .title {
    margin-top: 15px !important;
    margin-right: 8% !important;
  }
  .last-tagline {
    margin-top: 3%;
  }
}

@media (min-width: 1024px) {
  .col {
    padding: 30px;
  }
  .card {
    margin-top: 8% !important;
  }
  .card-body {
    max-height: 100% !important;
    padding: 0 !important;
  }
  .card-body > img {
    /* margin-top: 5% !important; */
    width: 15% !important;
    height: 15% !important;
  }
  .title {
    margin-right: 10% !important;
  }
  .image1 {
    margin-left: 5% !important;
  }
}
