p{
  margin: 0 !important;
}
.group-icons{
  padding:10px 5px;
}
.group-text{
  padding:10px ;
  padding-right: 0;
}
.group-cards{
  padding:2px !important;
}
#brand-name {
  text-decoration: none;
  color: #fff;
}
.card-body {
  padding: 10px !important;
}
.grid {
  margin-top: 3% !important;
  margin-left: 15% !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.profile-card {
  background: #f2a614;
  color: #000 !important;
}
.rounded-circle {
  margin-top: 15% !important;
}
.grid2 {
  margin-top: 3% !important;
  margin-bottom: 5% !important;
  margin-left: 20% !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
/* .grid2 >.card{
  box-shadow: 0 2px  20px #888888;
} */
.col {
  padding: 5px;
}
.col > p {
  margin: 0 !important;
}
.footer {
  padding: 15px;
  min-height: 60px !important;
  color: #fff;
  background: #333 !important;
  overflow: hidden;
}
#title {
  margin-bottom: 25px !important;
  margin-top: 10px !important;
}

#user-clock {
  display: none;
}
.grid3{
  display: grid;
  grid-template-columns: 15% 85%;
  /* grid-gap: 5px; */
}

@media only screen and (max-width: 992px) {
  .grid {
    margin-left: 8% !important;
    margin-right: 8% !important;
    width: 100% !important;
  }
  .group-text>p{
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 16px !important;
  }
  .grid {
    /* grid-template-columns: 1fr; */
    margin-top: 3% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
  .grid2 {
    /* grid-template-columns: 1fr; */
    margin-left: 5% !important;
    margin-right: 5% !important;
    grid-gap: 5px !important;
  }
  .rounded-circle {
    margin-top: 0 !important;
  }
  .footer {
    padding: 5px !important;
    font-size: 14px !important;
  }
  #title {
    margin-bottom: 15px !important;
  }
  #user-history {
    display: none;
  }
  #user-clock {
    display: block;
  }
  #nav-list {
    display: inline-flex !important;
  }
  .navbar {
    max-height: 60px !important;
  }
  table {
    font-size: 14px !important;
  }
}

@media (max-width: 767px) {
  .grid {
    width: 100% !important;
    grid-template-columns: 1fr;
    margin-top: 0 !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
  .grid2 {
    width: 100% !important;
    grid-template-columns: 1fr;
    margin-left: 5% !important;
    margin-right: 5% !important;
    grid-gap: 5px !important;
  }
  .main-content {
    background: #f2a614;
  }
  .profile-card {
    border: none !important;
  }
  .nav-link {
    padding: 5px 10px !important;
  }
  .student-info{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}

@media (min-width: 768px) {
  .grid2 {
    width: 100% !important;
    margin: 3% 10% !important;
  }
}
@media (max-width: 376px) {
  table {
    font-size: 14px !important;
  }
  td {
    padding: 5px !important;
  }
  .footer {
    padding: 10px !important;
    font-size: 12px !important;
  }
}
@media (max-width: 375px) {
  .nav-link {
    padding: 5px !important;
  }
  .group-cards{
    padding:0 !important;
  }
}
