.header_bar
{
    background: #108690 !important;
}
.profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin-top: 5px;
}
.profile:hover
{
    background-color: #454545;
    color: white;
}
.issue_history, .school_title{
    color: white !important;
}
.black_color_type
{
    color:black;
}
.owl-nav{
    display: block !important;
}
.owl-prev,
.owl-next {
    position: absolute;
    top:220px;
    transform: translateY(-50%);
}
.owl-prev {
    left: -5px;
}

.owl-next {
    right: -5px;
}
.owl-dots{
    display: none;
}
.heart_icon{
    position:relative;
    color: white !important;
}
.header_searchicon
{
    padding-left:22px;
    padding-top: 5px;
    padding-bottom:5px;
    padding-right:22px;
    border-radius: 500px;
    position: absolute;
    right: 0;
    top: 8px;
    border: none;
    color: #474848;
    background-color: #FFB300;
}
.search-condition-style {
    overflow: hidden;
    position: absolute;
    top: 8px;
    /* border-right: 1px solid #d3d3d3; */
}
.select-box-condition {
    font-size: 13px;
    padding-left:22px;
    padding-top: 7px;
    padding-bottom:8px;
    padding-right:17px;
    text-transform: unset;
    /* padding-left: 21px; */
    background-color: #FFB300 !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}
.dropdown_icon{
    font-size: 8px;
    top: 12px;
    right: 5px;
    position: absolute;
}
.header_searchbar_mobile{
    border: none;
    padding:5px;
    border-radius: 500px;
    width: 100%;
}
.header_searchicon_mobile
{
    padding-left:22px;
    padding-top: 5px;
    padding-bottom:5px;
    padding-right:22px;
    border-radius: 500px;
    position: absolute;
    right: -2px;
    top: 8px;
    border: none;
    color: #474848;
    background-color: #FFB300;
}
.header_searchbar
{
    border: none;
    padding:5px;
     border-top-right-radius: 500px;
     border-bottom-right-radius: 500px;
    /* box-shadow: 0 0 8px #B0B0B0; */
    width: 87%;
}
.search_icon{
    padding:5px;
    position:absolute;
    right:15px;
    top:7px;
    color: #fff;
    background-color: #474848;
    border: none;
}
.select_icon{
    padding:5px;
    position:absolute;
    left:15px;
    top:7px;
    color: #fff;
    background-color: #474848;
    border: none;
}
.badge_notification{
    top:-5px;
    right:-5px;
    position:absolute;
    font-size:8px;
}
.search_inline:focus, .search_inline:active{
    box-shadow: none;
}
.search_inline{
    /* border: 0px; */
    /* border-bottom: 1px solid #fff; */
    border-radius: none;
    color: #474848;
    /* background-color: inherit; */
    width:100%;
}
.log-out
{
    position: absolute !important;
    z-index: 100 !important;
    right: 5px !important;
    top: 45px !important;
    background-color: white;
    color: #454545;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    border-radius:5px;
}
.dropdown-item:active{
    background-color: white !important;
}
.log-display
{
    display:none;
}
@media (max-width:390px) {
    .owl-prev,
    .owl-next {
        top:120px !important;
    }
    .owl-prev {
        left: 0 !important;
    }

    .owl-next {
        right: 0 !important;
    }

}
@media screen and (max-width:500px) and (min-width: 391px ) {
    .owl-prev,
    .owl-next {
        top:150px !important;
    }
    .owl-prev {
        left: 0 !important;
    }

    .owl-next {
        right: 0 !important;
    }

}
@media screen and (max-width:767px) and (min-width: 501px) {
    .owl-prev,
    .owl-next {
        top:180px !important;
    }
    .owl-prev {
        left: 0 !important;
    }

    .owl-next {
        right: 0 !important;
    }

}
