p{
  margin: 0;
}
.book-title {
  margin: 0;
}
.star_icon{
    color:#F2A614;
    position:absolute;
    top:1px;
    right:1px;
    font-size:12px;
}
.literature {
  background: #ffa500;
}
.romance {
  background: #d63232;
}
.crime {
  background: #db3287;
}
.category_button {
  font-size: 10px;
  color: #fff;
  padding: 3px 5px;
  border: none;
  margin: 3px;
}
.rating_button{
    width:40px !important;
    position:relative;
    font-size:12px;
}
#brand-name {
  text-decoration: none;
  color: #fff;
  margin: 0 !important;
}


.card-body {
  padding: 10px !important;
  height: 100% !important;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 10px;
  margin-top: 30px;
}
.grid2 {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 5px;
}
.grid2 > .card-body {
  padding: 5px !important;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 1px;
}
.grid3 > .card-body > p {
  padding: 5px !important;
  margin: 0 !important;
}
.grid3 > .card-body > p > a {
  color: #fff;
  text-decoration: none;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}
.close {
  display: block;
  color: #000 !important;
}
.return-date {
  padding: 0 !important;
  /* color: #fff; */
  background: #fff;
}
.one,
.two,
.three {
  background: #108690;
}

/* .btn {
  color: #fff;
  font-size: 10px !important;
  width: 100% !important;
  /* margin-bottom: 5px !important; */
/* } */ */
.footer {
  padding: 15px;
  min-height: 60px !important;
  color: #fff;
  background: #333 !important;
  overflow: hidden;
}
#user-clock {
  display: none;
}
.author-name{
  margin-top: 5px;
}
.fa-star{
  color: #F2A614;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid2 {
    grid-template-columns: 40% 60%;
  }
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid2 {
    grid-template-columns: 40% 60%;
  }

}
@media (max-width: 426px) {
  body {
    font-size: 14px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .col > h2 {
    font-size: 18px !important;
  }
}
@media (max-width: 376px) {
  .footer {
    padding: 10px !important;
    font-size: 12px !important;
  }
  .card {
    width: 100% !important;
  }
  .col {
    padding: 0 !important;
  }
}

@media (max-width: 374px) {
  .card-body > h6,
  .card-body > p {
    font-size: 14px !important;
  }
  .return-date {
    padding: 0 !important;
  }
  #brand-name{
    font-size: 14px !important;
  }
}
