.book-title {
  margin: 0;
}
#brand-name {
  text-decoration: none;
  color: #fff;
}
.card-body {
  padding: 10px !important;
  height: 100% !important;
}
.col {
  padding: 15px !important;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  margin: 15px;
  margin-top: 25px;
}
.grid2 {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 5px;
}
.grid2 > .card-body {
  padding: 5px !important;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 1px;
  max-height: 60px;
}
.grid3 > .card-body > p {
  padding: 5px !important;
  margin: 0 !important;
}
.grid3 > .card-body > p > a {
  color: #fff;
  text-decoration: none;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.return-date {
  padding: 0 !important;
  background: #fff;
  max-height: 60px;
}
.one,
.two,
.three {
  background: #108690 !important;
}
.add-to-wishlist {
  background: #eee;
  color: #888;
}
.btn {
  font-size: 14px !important;
}
.btn1 {
  font-size: 14px;
  color: #000;
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
}
.btn2 {
  width: 100%;
  background: #108690;
  border: none;
}
.btn2 > a {
  color: #fff;
  text-decoration: none;
}
.btn3 {
  font-size: 14px;
  background: #fff;
  border: 1px solid #abb2b9;
  padding: 5px 15px;
  margin: 3px;
}
.btn3 > a {
  text-decoration: none;
  color: #333;
}
.btn3 :focus {
  color: #108690;
}
.footer {
  padding: 15px;
  min-height: 60px !important;
  color: #fff;
  background: #333 !important;
  overflow: hidden;
}
.book-availability {
  display: none;
  position: relative;
  z-index: 1;
  top: 0;
}
.test3 {
  display: block;
}
.test4 {
  display: block;
}
.bar-code {
  display: block;
}
.test {
  background: #d63232;
  color: #fff;
}
.dummy {
  display: block !important;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  .grid2 {
    grid-template-columns: 40% 60%;
  }
  .grid4 {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px !important;
  }
}
/* @media (max-width: 768px) {
  #user-history {
    display: none;
  }
  #user-clock {
    display: block;
  }
  #nav-list {
    display: inline-flex !important;
  }
  .navbar {
    max-height: 60px !important;
  }
  .footer {
    padding: 5px !important;
    font-size: 14px !important;
  }
} */
@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid2 {
    grid-template-columns: 40% 60%;
  }
  /* .nav-link {
    padding: 5px 10px !important;
  } */
  #last-tagline {
    margin-right: 30% !important;
    margin-bottom: 0 !important;
  }
  #copyrights {
    margin-left: 25% !important;
    margin-bottom: 5px !important;
  }
}
@media (max-width: 426px) {
  body {
    font-size: 14px;
  }
  .col {
    padding: 5px !important;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .col > h2 {
    font-size: 18px !important;
  }
  #copyrights {
    margin-left: 12% !important;
  }
  .btn3 {
    margin: 0;
    margin-bottom: 5px;
    width: 92%;
  }
}
@media (max-width: 375px) {
  .book-title,
  .card-body > p {
    font-size: 14px !important;
  }
  .return-date {
    padding: 0 !important;
  }
  /* .nav-link {
    padding: 5px !important;
  } */
  /* .footer {
    padding: 10px !important;
    font-size: 12px !important;
  } */
  .btn {
    font-size: 12px !important;
  }
  .btn3 {
    width: 90%;
  }
}
