.button {
  background: #fff !important;
  border-radius: 8px !important;
  border: 1px solid #85929e;
  font-size: 14px;
  margin: 0 auto;
  cursor: pointer;
}
a {
  text-decoration: none !important;
  color: #108690;
}
.page_background{
    background-color: lightgrey;
}
@media (max-width: 426px) {
  body {
    font-size: 14px;
  }
}
